.container {
	width: 80vw;
/* 
	display:grid;
	grid-template-columns:300px 100px 100px 100px;
 */
	margin: 20px;
}

.container > div {
	border: solid 0.5px black;
	border-bottom:none;
}

.container > div:last-child {
	border-bottom: solid 0.5px black;
}

.container > div > div {
	border-right:solid 0.5px black;
}

.container > div > div:last-child {
	border:none;
}